frontend  test-frontend
        bind *:80
        mode http
        default_backend test-backend
backend test-backend
        balance roundrobin
        server web-01 {{ backendip1 }}:{{ backend_port }} check
        server web-02 {{ backendip2 }}:{{ backend_port }} check