server {
       listen {{ backend_port }};
       listen [::]:{{ backend_port }};

       server_name example.ubuntu.com;

       root /var/www/testsite;
       index index.html;

       location / {
               try_files $uri $uri/ =404;
       }
}